.App {
  text-align: center;
  width: 100%;
  height: 90%;
}

.App:after {
    content: "";
    display: table;
    clear: both;
}

a {
  all: unset;
}

.app-content {
  text-align: center;
  width: 100%;
  height: 90%;
  position: fixed;
  top: 60px;
}

.App-intro {
  font-size: normal;
}


/* Header section */

header {
  text-align: center;
  height: 60px;
  position: fixed;
  width: 100%;
  background-color: rgb(58, 118, 195);
  box-shadow: 0px 1px 4px;
}

header h1 {
  font-weight: normal;
  color: white;
  margin: 10px 0;
  position: fixed;
  width: 100%;
}

h2 {
  font-weight: normal;

}

/* Categories section start */

.categories-section, .actions-section {
  display: inline-block;
  width: 25%;
  height: 100%;
}

.categories-wrapper {
  float: right;
  height: 100%;
}

.category-types button:hover {
  background-color: lightgrey;
}

.category-item {
  border: 0;
  background-color: inherit;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 130%;
}

.category-item:focus {
  outline: 0;
}

.category-item-selected {
  background-color: lightgrey;
  color: white;
}

.category-types button:active {
  background-color: deepskyblue;
  color: white;
}

/* Categories section end */

/* Actions section start */

.actions-wrapper {
  float: left;
  height: 100%;
  margin-left: 15px;
}

.action-button {
  border: 0;
  background-color: inherit;
  display: block;
  margin: 0;
  margin-bottom: 10px;
  height: 35px;
  width: 100%;
  text-transform: capitalize;
  cursor: pointer;
  font-size: 130%;
}

.action-button:focus {
  outline: 0;
}

.action-button-selected {
  background-color: lightgrey;
  color: white;
}

.action-button:hover {
  background-color: lightgrey;
}

.action-button:active {
  background-color: deepskyblue;
  color: white;
}

/* Actions section end */

.posts-section {
  display: inline-block;
  width: 50%;
  height: 100%;
  overflow: auto;
}

.selected-color {
  color: blue;
}

.categories-section ul {
  padding-left: 0;
}


.category-title {

}

.categories-section h2 {
  font-weight: normal;
}

/* Posts section */

.app-post-header {
  width: 100%;
  border: 0;
  text-align: center;
}

.content-wrapper {
  display: flex;
}

.posts-title {

}

.posts-title h2 {

}
.order-by {
  display: inline-block;
  margin-left: 200px;
}


/* Footer section */