.comment {
	text-align: left;
	min-height: 100px;
	margin: 4px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 0px #ccc;
}

/* Vote Score section */

.comment-vote-score-section {
	display: inline-block;
	vertical-align: top;
	border: 0;
  border-right: 1px solid #ccc;
	text-align: center;
	font-size: 30px;
	width: 30px;
	padding: 4px;
}

.vote-score-section p {
	margin: 5px 0;
}

/* Comment section */


h3 {
	font-weight: normal;
	padding: 5px;
	margin: 2px;
	float: left;
}

.edit-button {
	display: inline-block;
	font-size: 20px;
}

.delete-button {
	display: inline-block;
	font-size: 20px;
}

.cancel-button {
	display: inline-block;
	font-size: 20px;
}

.comment-section {
	display: inline-block;
}

.comment-vote-score {
	font-size: 75%;
}

.comment-wrapper {
}

.comment-header {
	height: 36px;
	border: 0;
  border-bottom: 1px solid #ccc;
}

.comment-author-input {
	display: inline-block;
}

.comment-body {
	padding: 5px;
  margin: 2px;
}

.comment-body-text {

}

.comment-body-input {
	display: inline-block;
}

.comment-input-button {
	display: inline-block;
}