.comment {
	text-align: left;
	margin: 0 auto;
  margin-bottom: 15px;
  width: 96%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
	background-color: white;
}

/* Vote Score section */

.comment-vote-score-section {
	display: table-cell;
	border: 0;
  border-right: 1px solid lightgrey;
  vertical-align: top;
	text-align: center;
	font-size: 30px;
	width: 4%;
	padding: 2px;
	overflow: hidden;
}

.comment-vote-score-section svg {
	cursor: pointer;
}

.comment-vote-score-section svg:active {
	color: lightgrey;
}

/* Comment section */

.comment h3 {
	font-weight: normal;
	padding: 5px;
	margin: 2px;
	display: inline-block;
	font-size: 1em;
}

.edit-button {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.delete-button {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.cancel-button {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.comment-section {
	display: table-cell;
	width: 96%;
}

.comment-section h4 {
	display: inline-block;
  padding: 5px;
  margin: 2px;
	font-size: 0.9em;
	font-weight: normal;
	color: darkgrey;
}

.comment-vote-score {
	font-size: 75%;
}

.comment-wrapper {
}

.comment-header {
	display: block;
	box-sizing: border-box;
	border: 0;
  border-bottom: 1px solid lightgrey;
}

.comment-upload-header {
	box-sizing: border-box;
	border: 0;
  padding: 5px;
  border-bottom: 1px solid lightgrey;
	border-top: 1px solid lightgray;
}

.comment-header-texts {
	display: inline-block;
	width: 90%;
}

.comment-header-buttons {
	display: inline-block;
	width: 10%;
}

.comment-upload-form {
	display: block;
	margin: 0 auto;
}

.comment-upload-form textarea {
	display: block;
  width: 90%;
  font-size: 1em;
  padding: 6px;
  border: 0;
  border-bottom: 1px;
  border-bottom-color: deepskyblue;
  border-bottom-style: solid;
  outline: none;
}

.comment-author-input {
	display: inline-block;
	padding: 6px;
	border: 0;
	border-bottom: 1px;
  border-bottom-color: deepskyblue;
	border-bottom-style: solid;
  outline: none;
}

.comment-body {
	padding: 5px;
  margin: 2px;
}

.comment-body-text {

}

.comment-body-input {
	display: inline-block;
}

.comment-upload-button {
	border: 0;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  height: 35px;
	width: 120px;
  cursor: pointer;
  font-size: 1.2em;
}

.comment-upload-button:active {
	background-color: deepskyblue;
  color: white;
}

.comment-upload-button:focus {
	outline: 0;
}