.post {
	text-align: left;
	margin: 0 auto;
  margin-bottom: 15px;
  width: 90%;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.3);
	background-color: white;
}

/* Vote Score section */

.post-vote-score-section {
	display: table-cell;
	border: 0;
  border-right: 1px solid lightgrey;
  vertical-align: top;
	text-align: center;
	font-size: 30px;
	width: 4%;
	padding: 2px;
	overflow: hidden;
}

.post-vote-score-section svg {
	cursor: pointer;
}

.post-vote-score-section svg:active {
	color: lightgrey;
}

/* Post section */

h3 {
	font-weight: normal;
	padding: 5px;
	margin: 2px;
	display: inline-block;
}

.edit-button {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.delete-button {
	display: inline-block;
	width: 50%;
	text-align: center;
}

.cancel-button {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.post-section {
	display: table-cell;
	width: 96%;
}

.post-vote-score {
	font-size: 75%;
}

.post-header {
	border: 0;
}

.post-form input {
	border: none;
  border-bottom: 1px solid #ddd;
}

.post-author-input {
	display: inline-block;
}

.post-category-input {
	display: inline-block;
}

.post-title {
	display: block;
	box-sizing: border-box;
	border: 0;
  border-bottom: 1px solid lightgrey;
}

.post-title-texts {
	display: inline-block;
	width: 90%;
}

.post-title-texts a {
	text-transform: capitalize;
	color: deepskyblue;
	cursor: pointer;
}

.post-title-buttons {
	display: inline-block;
	width: 10%;
}

.post-title-input {
	display: block;
	border: 0;
	border-bottom: 2px;
  border-bottom-color: deepskyblue;
	border-bottom-style: solid;
  outline: none;
}

.post-body {
	padding: 5px;
  margin: 2px;
}

.post-body-text {

}

.post-body-input {
	display: inline-block;
}

.post-input-button {
	display: inline-block;
}

.post-upload-form {
	margin: 0 auto;
  width: 600px;
  height: 300px;
  margin-top: 80px;
  background-color: white;
}