.post {
	text-align: left;
	min-height: 100px;
	margin: 2px;
	border: 1px solid #ccc;
	border-radius: 5px;
	box-shadow: 1px 1px 0px #ccc;
}

/* Vote Score section */

.post-vote-score-section {
	display: inline-block;
	border: 0;
  border-right: 1px solid #ccc;
  vertical-align: top;
	text-align: center;
	font-size: 30px;
	width: 30px;
	padding: 4px;

}

/* Post section */

.post-wrapper {
	display: inline-block;

}

h3 {
	font-weight: normal;
	padding: 5px;
	margin: 2px;
	display: inline-block;
}

.edit-button {
	display: inline-block;
}

.delete-button {
	display: inline-block;
}

.cancel-button {
	display: inline-block;
}

.post-section {
	display: inline-block;
}

.post-vote-score {
	font-size: 75%;
}

.post-header {
	border: 0;
  border-bottom: 1px solid #ccc;
}

.post-author-input {
	display: inline-block;
}

.post-category-input {
	display: inline-block;
}

.post-title {
	display: block;
	height: 36px;
	border: 0;
  border-bottom: 1px solid #ccc;
}

.post-title-texts {
	display: inline-block;
}

.post-title-buttons {
	display: inline-block;
}

.post-title-input {
	display: inline-block;
}

.post-body {
	padding: 5px;
  margin: 2px;
}

.post-body-text {

}

.post-body-input {
	display: inline-block;
}

.post-input-button {
	display: inline-block;
}